html{
    scroll-behavior: smooth;
}

.scrollHorizontal{
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: stretch;
    justify-content: stretch;
    overflow-x: scroll;
    margin-right: -15px;
    margin-left: -15px;
    user-select: none;
    box-sizing: border-box;
    min-height: 540px;
    max-height: 540px;
}

.scrollHorizontal::-webkit-scrollbar{
    display: none;
}

.do-btn a{
    color: #7b40c0 !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.do-btn i{
    background: #7b40c0 !important;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    color:#fff;
    border-radius: 50%; 
    margin-right: 7px;
}

.cursor{
    cursor: grab;
}

.cursor:active{
    cursor: grabbing;
}

.have-project{
    padding-top: 100px;
}

/* Nanban Startup Labs is for */
.Usage{
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    padding: 50px;
}


/* .Usage .content{
    border-radius: 10px;
    width: 60%;
    margin: auto;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
} */

.Usage .content{
    width: 85%;
    margin: auto;
    text-align: left;
    padding: 20px;
    /* box-sizing: border-box; */
}

.listItemSmall{
    /* animation: fade 1s forwards;
    transition: all 1s ease; */
    /* text-align: center; */
    position: relative;
    margin: 40px 0;
    width: 100%;
    max-height: 30px;
}

.listItemLarge{
    transition: all 1s ease;
    /* text-align: center; */
    position: relative;
    margin: 40px 0;
    width: 100%;
    max-height: fit-content;
    border: none;
    background-color: rgb(230, 230, 227);
    border-radius: 20px;
}

.drop{
    display: none;
    position: absolute;
    right: 1px;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: lavender; */
    background-image: url('/assets//img/icons/dropdown.png');
    background-position: center center;
}
.drop:hover{
    background-color: rgb(209, 209, 220);
}
.small{
    transition: all 1s ease;
    font-size: 16px;
    /* margin: 0 15px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.large{
    transition: all 1s ease;
    font-size: 16px;
    text-align: center;
    margin: 0 15px;
}

/* .content div{
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    box-sizing: border-box;
    margin: 20px;   
}
.content div p{
    margin: 0;
} */
/*  -----------  */

/* Navigate the Offerings */

.alignHorizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.small-circle{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin: 5px;
}

/* -------------------------- */

/* responsiveFontSize */

.responsiveFontSize h3{
    font-size: 20px;
}
.responsiveFontSize p{
    font-size: 13px;
}

@media(min-width: 550px){
    .responsiveFontSize h3{ font-size: 26px;}
    .responsiveFontSize p{ font-size: 17px; }
}

/* ------------------ */

/* Statistics */

.fw-7{
    font-size: 30px;
}

.section{
    padding: 100px 0;
}

#border-right{
    border-right: 1px groove grey;
    margin-top: 5px;
}

/* -------------- */

@media(max-width: 500px){
    .scrollHorizontal{
        min-height: 500px;
        max-height: 500px;
        align-items: center;
    }
    .Usage .content{
        width: 100%;
    }
    #border-right{
        border: none;
    }
    .inner h4{
        font-size: 20px !important;
    }
    .inner p{
        font-size: 15px !important;
    }
    .inner .single-do{
        box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
        width: 290px;
        max-height: 445px;
        min-height: 445px;
        /* margin: 0 10px; */
    }
    .content{
        width: 95%;
    }
    .inner{
        width: 290px;
        margin: 0 10px;
        max-height: 450px;
        min-height: 450px;
    }
    .Usage{
        padding: 0px;
    }
    .Usage .content{
        width: 90vw;
        margin: auto;
        padding: 0;
    }
    .drop{
        width: 20px;
        height: 20px;
    }
}
@media(min-width: 501px){
    .inner{
        position: relative;
        min-width: 400px;
        box-sizing: border-box;
        min-height: 500px;
        max-height: 500px;
    }
    
    .inner .single-do{
        box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
        min-width: 400px;
        max-width: 400px !important;
        box-sizing: border-box;
        min-height: 500px;
        max-height: 500px;
    }
}

@media(min-width: 800px){
    .Usage .content{
        max-width: 700px;
    }
}