#nanban-logo{
    margin-top: 10px;
}

.logo-image{
    width: 250px;
    height: 38px;
}

.footer-logo-image{
    width: 200px;
    height: 60px;
}

@media(max-width: 500px){
    .logo-image{
        width: 200px;
        height: 30px;
    }
    .footer-logo-image{
        width: 150px;
        height: 40px;
    }
}